.App {
  text-align: center;
  background-color: #f2faf8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  width: 800px;
  height: 500px;
}
.card-container {
  padding: 30px;
}
.project-h2{
  padding: 20px;
  font-size: 50px;
  color: #f7addb;
  text-shadow: 1px 1px 1px black, 3px 3px 3px #095d40;
}
.footer {
  border: "3px solid #f4c2e1";
  background: #168046;
  color: #f4c2e1;
}